@import '../partial';

.loading{
    @include flex(column, center, center, 10px, wrap);
    @include posF();
    #loading2{
        animation: rotate 3s linear infinite;
    }
}


@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }