.speech{
    background: white;
}

.listeningBack{
    position: fixed;
    left: 0;
    top: 0%;
    width: 100vw;
    height: 120px;
    background :linear-gradient(black,aqua);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 10;
    display: none;
    img{
        scale: 4;
    }
}